<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login">
	<h1>Mortality Risk of Covid Patients</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	 
    	<input type="text" name="Age" placeholder="(Age: e.g. 68 years old)" required="required"/>
      <input type="text" name="Sex" placeholder="(Sex: Male=1, Female=0)" required="required"/>
		  <input type="text" name="Potasium (mmol/L)" placeholder="(Potasium: e.g. 4.2 mmol/L)" required="required"/>
		  <input type="text" name="Creatinine (mg/dL)" placeholder="(Creatinine: e.g. 4.2 mg/dL)" required="required"/>
      <input type="text" name="Prothrombin Time (s)" placeholder="(Prothrombin Time: e.g. 13.3 s)" required="required"/>
      <input type="text" name="Hemoglobin (g/dL)" placeholder="(Hemoglobin: e.g. 13.6 g/dL)" required="required"/>
      <input type="text" name="Aspartate Aminotransferase (U/L)" placeholder="(Aspartate Aminotransferase: e.g. 33.4 U/L)" required="required"/>
      <input type="text" name="Blood Glucose (mg/dL)" placeholder="(Blood Glucose: e.g. 115.1 mg/dL)" required="required"/>
      <input type="text" name="Sodium (mmol/L)" placeholder="(Sodium: e.g. 137.4 mmol/L)" required="required"/>
      <input type="text" name="C-Reactive Protein (mg/L)" placeholder="(C-Reactive Protein: e.g. 79.5 mg/L)" required="required"/>
      <input type="text" name="Mean Corpuscular Volume (pg)" placeholder="(Mean Corpuscular Volume: e.g. 29.8 pg)" required="required"/>
      <input type="text" name="Alanine Aminotransferase (U/L)" placeholder="(Alanine Aminotransferase: e.g. 28.1 U/L)" required="required"/>
      <input type="text" name="Platelet Count (10^3/μL)" placeholder="(Platelet Count: e.g. 214.5 10^3/μL)" required="required"/>
      <input type="text" name="Leukocytes (10^3/μL)" placeholder="(Leukocytes: e.g. 6.7 10^3/μL)" required="required"/>
      <input type="text" name="Maximum blood pressure value" placeholder="(Maximum blood pressure value: e.g. 125.3)" required="required"/>
      <input type="text" name="Minimum blood pressure value" placeholder="(Minimum blood pressure value: e.g. 71.6)" required="required"/>
      <input type="text" name="Temperature value" placeholder="(Temperature value: e.g. 36.5 °C)" required="required"/>
      <input type="text" name="Heart rate value" placeholder="(Heart rate value: e.g. 80.2)" required="required"/>
      <input type="text" name="Oxygen saturation value" placeholder="(Oxygen saturation value: e.g. 95.3)" required="required"/>
      <input type="text" name="Cardiac dysrhythmias" placeholder="(Cardiac dysrhythmias: Yes=1, No=0)" required="required"/>
      <input type="text" name="Chronic Kidney Disease" placeholder="(Chronic Kidney Disease: Yes=1, No=0)" required="required"/>
      <input type="text" name="Coronary atherosclerosis" placeholder="(Coronary atherosclerosis: Yes=1, No=0)" required="required"/>
      <input type="text" name="Diabetes" placeholder="(Diabetes: Yes=1, No=0)" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>
